@{
    ViewBag.Title = "Author";
}
@section seo
{
    <meta name="application-name" content="Android Toolkit" />
    <meta name="author" content="Gabrijel Boduljak" />
    <meta name="description" content="Android Toolkit Author page." />
    <meta name="keywords" content="Android Toolkit, Android, ADB, Fastboot, Gabrijel Boduljak, recovery, flash" />
    <meta name="robots" content="INDEX, FOLLOW">
}
<div class="well" style="visibility:hidden;"></div>
<div class="container-fluid">
    <div class="span2">
        <img class="img-circle img-author" src="@Url.Content("~/img/gboduljak-authorImg.png")" />
    </div>
    <div class="span8">
        <div class="metroWellGreen">
            <h1 class="pull-center">Gabrijel Boduljak - About Me</h1>
            <p class="lead marginize">
                <strong>I was born on the 23.4.1999. I am programmer, web developer/designer, gamer and hardware enthusiast. Currently, I am going to OS don Lovre Katica PRIMARY SCHOOL.</strong> 
            </p>
        </div>
    </div>
    <div class="span2"></div>
</div>
